In [1]:
import os
import pandas as pd

In [2]:
def build_df():
    path_list=[]
    fine_list=[]
    coarse_list=[]
    
    for dir, subdir, files in os.walk('./split'):
        if len(files)>0:
            for f in files:
                if dir.split('/').__contains__('val'):
                    path=os.path.join(dir,f)
                    fine=dir.split('/')[-1]
                    coarse=dir.split('/')[-3]
                    path_list.append(path)
                    fine_list.append(fine)
                    coarse_list.append(coarse)

    dictionary={
        "file_path": path_list,
        "fine_label": fine_list,
        "coarse_label": coarse_list
    }

    df=pd.DataFrame.from_dict(dictionary)
    return df

In [3]:
df=build_df()

In [5]:
df

,file_path,fine_label,coarse_label
0,./split/aquatic_mammals/val/otter/river_otter_...,otter,aquatic_mammals
1,./split/aquatic_mammals/val/otter/river_otter_...,otter,aquatic_mammals
2,./split/aquatic_mammals/val/otter/river_otter_...,otter,aquatic_mammals
3,./split/aquatic_mammals/val/otter/river_otter_...,otter,aquatic_mammals
4,./split/aquatic_mammals/val/otter/river_otter_...,otter,aquatic_mammals
...,...,...,...
5995,./split/small_mammals/val/mouse/house_mouse_s_...,mouse,small_mammals
5996,./split/small_mammals/val/mouse/harvest_mouse_...,mouse,small_mammals
5997,./split/small_mammals/val/mouse/mus_musculus_s...,mouse,small_mammals
5998,./split/small_mammals/val/mouse/mouse_s_000655...,mouse,small_mammals
5999,./split/small_mammals/val/mouse/mus_musculus_s...,mouse,small_mammals

In [4]:
df.to_csv("validation.csv")